{% extends 'base.html' %}
{% block content %}

<h1>Wacky Widgets</h1>
{% if widgets|length == 0 %}
 <h2>NO WIDGETS</h2>

{% else %}
<table class="pure-table pure-table-striped">
    <tr>
      <th>Description</th>
      <th>Quantity</th>
      <th>Delete</th>
    </tr>
    {% for widget in widgets %}
    <tr>
        <td>{{ widget.description }}</td>
        <td>{{ widget.quantity }}</td>
        <td><a href="{% url 'widget_delete' widget.id %}">X</a></td>
    </tr>
    {% endfor %}
</table>    
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="ADD WIDGET" class="btn">
  </form>
{% endblock %}